astroid==1.4.8
colorama==0.3.7
Django==1.9.5
django-registration-redux==1.4
flake8==3.0.4
flake8-docstrings==1.0.2
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
Pillow==3.4.2
pycodestyle==2.0.0
pydocstyle==1.1.1
pyflakes==1.2.3
pylint==1.6.4
queuelib==1.4.2
six==1.10.0
Twisted==16.1.1
virtualenv==15.0.3
w3lib==1.14.2
wrapt==1.10.8
zope.interface==4.1.3
